aug_imges/
bal_classification_dataset/
bands/
classification_dataset/
cp_classification_dataset/
croped_bands/
dataset/
run/
runs/

*.zip

!detect_classsify.py
!testing_img.py
!testing_img_v2.py
!workout.ipynb
!yolo-dataset-balancer.py

!croped.jpg
!green.jpg
!hsv.jpg
!images.jpeg
!red.jpeg
!yellow.jpg
!annotated.jpg

best.py